[submodule ".registry"]
	path = .registry
	url = https://github.com/manuelhentschel/manuelhentschel.r-universe.dev
	branch = HEAD
[submodule "vscDebugger"]
	path = vscDebugger
	url = https://github.com/ManuelHentschel/vscDebugger
	branch = *release
